* {
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-chico{
    background-color:#C7CACC;
    padding:3%;
    border-radius: 8px;
    margin: 40px 0px 40px 0px;
}

#navbarNav {
    justify-content: right;
}

.btn-collap {
    border: 3px solid white !important
}

.home {
    background-image: url("https://img.lagacetasalta.com.ar/fotos/notas/2018/06/27/107122_20180627231446.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.fondo{
    background-color: #ADAFB2
}

.text-title {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6%;
}

.text {
    align-items: flex-start;
}

.navbar {
  background-color: transparent !important;
}

.foot {
    padding: 0px !important
}

.navbar a {
    color: white
}

.links {
    font-weight: 300;
    display: inline-block;
    position: relative;
}

.links:hover {
    color: black;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid;
}

footer {
    width: 100%;
    position: absolute !important;
}

.footer ul {
    list-style: none;
    margin: 0px;
    padding: 3% 0 3% 0;
}

.signup{
    margin:5% 0 5% 0;
}

#myModal {
    top: 5%;
}

#list{
    width:100%;
}

.option{
    margin-left:50%
}

.redes:hover{
    color: black !important
}

.logo span{
    font-family: 'Bebas Neue', sans-serif;
    font-size:1.2em
}


input{
    background-color:#ADAFB2 !important
}

input:focus, select:focus, select, input.form-control:focus {

            outline:none !important;

            outline-width: 0 !important;

            box-shadow: none;

            -moz-box-shadow: none;

            -webkit-box-shadow: none;

            border-color: black

        }