* {
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.container-chico{
    background-color:#C7CACC;
    padding:3%;
    border-radius: 8px;
    margin: 40px 0px 40px 0px;
}

#navbarNav {
    justify-content: right;
}

.navbar-toggler {
    border: 3px solid black !important
}

.navbar-toggler-icon{
    align-items:center;
    justify-content: center
}

.home {
    background-image: url("https://img.lagacetasalta.com.ar/fotos/notas/2018/06/27/107122_20180627231446.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.fondo{
    background-color: #ADAFB2
}

.fondo-home{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
    align-items:center;
    text-align:center;
    border-radius: 8px;
    padding:3%
}

.text-title {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6%;
}

.text {
    align-items: flex-start;
}

.navbar {
  background-color: #ADAFB2;
}

.foot {
    padding: 0px !important
}

.navbar a {
    color: white
}

.links {
    font-weight: 300;
    display: inline-block;
    position: relative;
}

.links:hover {
    color: black;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid;
}

footer {
    width: 100%;
    position: absolute !important;
}

.footer ul {
    list-style: none;
    margin: 0px;
    padding: 3% 0 3% 0;
}

.signup{
    margin:5% 0 5% 0;
}

#myModal {
    top: 5%;
}

.option{
    margin-left:50%
}

.redes:hover{
    color: black !important
}

.logo span{
    font-family: 'Bebas Neue', sans-serif;
    font-size:1.2em;
}

.logoo{
    justify-content:center
}

.logoo img{
    width:100px;
}

.logoo span{
    justify-content:center;
    font-family: 'Bebas Neue', sans-serif;
    font-size:4em;
}

.loginn{
    width:100%;
    justify-content: space-around;
    align-items:center
}

input:focus, select:focus, select, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: black
}

.table-responsive {
    overflow-x: auto;
}


.dataTables_wrapper{
    display:flex;
    justify-content:center;
}

.dataTables_wrapper{
    display:flex;
    justify-content:center;
}

.dataTables_wrapper > .row{
    width:100%
}

@media (max-width: 768px) {
    .loginn{
       justify-content:center;
    }

    .logoo img{
        width:60px;
    }

    .logoo{
        align-items:center;
        width:100%
    }

    .logoo span{
        font-size: 3em;
    }
}

@media (max-width: 1024px) {
    .home{
        align-items:center;
        justify-content:center
    }
}

@media (max-width: 426px) {
    .pagination{
        align-items:center;
        justify-content:center
    }

    .filter{
        gap:3px;
    }

    .dataTables_wrapper{
        gap:0px
    }

    .filtro{
        display:flex;
      align-items:center;
      justify-content:center
    }

    .links{
        color: black !important
    }

    .edit{
        display:flex;
        flex-direction:column
    }

    .previous a, .next a{
        display:none
    }

    .paginate_button{
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
}