{% extends 'comun/base.html' %}

{% block content %}
<div class="fondo">
<div class="container">
    <div class="container-chico">
    <h1><b>Acerca de</b></h1>
    <p>EduGestion es un sistema web de gestión administrativa y académica para alumnos y docentes de nivel Superior. 
    </p>
    <p>Podes consultar mas información en:<a class="nav-link" href="#" id="open-modal">¿COMO FUNCIONA?</a></p>
    <a class="btn btn-primary" style="background-color: #ADAFB2; border: none;" href="{{ url_for('routes.index') }}"><i class="fas fa-home"></i></a>
    </div>
</div>
</div>
{% endblock %}
