{% extends 'comun/base.html' %}

{% block content %}
<div class="fondo">
	<div class="container">
    <div class="container-chico">
    <h1><b>Sign Up</b></h1>
    <p>Crea una cuenta</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="signup">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="signup">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="signup">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="signup">
            <button class="btn btn-primary" type="submit" >Sign Up</button>
        </div>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesión</a></p>
	</div>
    </div>
</div>
{% endblock %}
